<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <a id="profileViewLink" href="/profiles">View Other Users</a>
    </div>
    <br>
    <hr>
    <span class="mess" id="indexMsg">
        <%= msg %>
    </span>
    <br>
    <hr>
    <br>
    <!--<hr>-->
    <span class="mess" id="profInfo">
    <img class="profPic" ng-src="<%= picUrl %>">
        <br>
    Height:
        <%= high %>
        <br>
        Weight:
        <%= wei %>
        <br>
         Pickup Line:
        <%= pickup %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>

</html>
