<!doctype html>
<html ng-app="profileViewer">
    <head>
        <Title>Spouse Hunt</Title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="/javascripts/profile_viewer.js"></script>
    </head>
    
    <body ng-controller="viewController">
        <a id="userLink" href="/">Home</a>
        <br>
        <br>
        <hr>
        <div ng-repeat="user in userList">
            <img ng-src="{{user.picUrl}}" class="profPic"><br>
            <div id="profiles">  <br>
            {{user.username}}
            <br>
            Height: {{user.high}}<br> Weight: {{user.wei}}
            <br>
            Pickup Line: {{user.pickup}}
            <hr></div>
          
        </div>    
    </body>
</html>