<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">User Profile</p><br>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username" disabled><br>
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br>
            <label>Height:</label>
            <input type="text" id="high" name="high" ng-model="user.high"><br>
            <label>Weight:</label>
            <input type="text" id="wei" name="wei" ng-model="user.wei"><br>
            <label>Pickup Line:</label>
            <input type="text" id="pickup" name="pickup" ng-model="user.pickup"><br>
            <label>Profile Picture:</label>
            <input type="text" id="picUrl" name="picUrl" ng-model="user.picUrl"><br>
            <input type="submit" id="save" value="Save">
        </form>
    </div><br>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" value="Delete User">
    </form><br><br>
    <!--<hr>-->
    <span class="mess" id="userMsg">
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>
