body {
  padding: 10px;
  background-color: #339966;
  /*background-image:  linear-gradient(*/
  /*    rgba(0, 0, 0, 0.5),*/
  /*    rgba(0, 0, 0, 0.5)*/
  /*  ),*/
  /*  url("forest2.jpg");*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  margin: 10px;
  padding: 7px;
  border-style: solid;
  background-color: #F5F5F5;
  border-radius: 5px;
  font-size: 30px;
  border-color: #336666;
  color: #339966;
  font-size: 16px;
}

.form-container {
  text-align: center;
  width: 100%;
  /*padding:25px;*/
}

.form-header {
  margin-bottom: 10px;
  display: inline-block;
  width: 60%;
  padding: 7px;
  color: #339966;
  background-color: #F5F5F5;
  border-style: solid;
  border-radius: 5px;
  font-size: 30px;
  border-color: #336666;
}

form {
  margin-bottom: 15px;
  display: inline-block;
  width: auto;
  padding: 10px;
  color: #339966;
  background-color: #F5F5F5;
  border-style: solid;
  border-radius: 5px;
  border-color: #336666;
}

h2 {
  color: #F5F5F5;
}

h1 {
  color: #F5F5F5;
}

label {
  font-size: 20px;
  color: #339966;
}

input {
  padding: 12px 20px;
  margin: 8px;
  color: #339966;
  background-color: #d9f2e6;
  border-style: solid;
  border-radius: 5px;
  border-color: #336666;
}

input[type=submit] {
  padding: 6px 20px;
  margin: 8px;
  font-size: 15px;
  color: #F5F5F5;
  background-color: #339966;
  border-radius: 3px;
  border-color: #336666;
}


#colorText {}

.mess {
  color: #F5F5F5;
  font-size: 15px;
}
